# For k3s control panel
---
# Disable Traefik (manual Helm install) and ServiceLB (using cloudflare tunnel)
# tls-san identifies the IP for the API server of the node (allow connection to ansible_host:6443)
- name: Install k3s
  shell: |
    curl -sfL https://get.k3s.io | INSTALL_K3S_EXEC="server" sh -s - \
    --disable traefik \
    --disable servicelb \
    --write-kubeconfig-mode 644 \
    --node-name home-server \
    --node-ip {{ ansible_host }} \
    --tls-san {{ ansible_host }} \
    --tls-san 10.0.0.2 \
    --tls-san 100.84.93.20 \
    --tls-san internal.sock1000kg.io.vn

- name: Ensure K3s is running
  service:
    name: k3s
    state: started
    enabled: yes

- name: Fetch Kubeconfig to Work station
  fetch:
    src: /etc/rancher/k3s/k3s.yaml
    dest: ~/.kube/config-sock-lab
    flat: yes
  become: true

- name: Update Kubeconfig Server IP
  delegate_to: localhost
  become: false
  replace:
    path: ~/.kube/config-sock-lab
    regexp: '127.0.0.1'
    replace: "{{ ansible_host }}"
    
- name: Allow unprivileged users to bind to port 80 (for Traefik)
  ansible.builtin.sysctl:
    name: net.ipv4.ip_unprivileged_port_start
    value: "0"
    state: present
    reload: yes
