api:
  dashboard: true
  insecure: false # requires Route component to access

# Dont expose cus we have CF Tunnel
service:
  type: ClusterIP

ports:
  web:
    # CHANGE FROM 8000 TO 80
    port: 80
    expose:
      default: true
    exposedPort: 80

gateway:
  enabled: false
gatewayClass:
  enabled: true
ingressClass:
  enabled: false

# Enable GatewayAPI component
providers:
  kubernetesGateway:
    enabled: true
  kubernetesIngress:
    enabled: false
  kubernetesCRD:
    enabled: true # Keep using IngressRoute for the dashboard

# Traefik claims port 80 but still runs as non-root
hostNetwork: true

podSecurityContext: {}

securityContext:
  runAsUser: 0
  runAsGroup: 0
  runAsNonRoot: false
  allowPrivilegeEscalation: false
  capabilities:
    drop:
      - ALL
    add:
      - NET_BIND_SERVICE
  readOnlyRootFilesystem: true

# Allow rolling update without fighting over laptop's ports
updateStrategy:
  type: RollingUpdate
  rollingUpdate:
    maxUnavailable: 1
    maxSurge: 0
