api:
  dashboard: true
  insecure: false # requires Route component to access

# Dont expose cus we have CF Tunnel
service:
  type: ClusterIP
  additionalServices:
    tailscale:
      type: LoadBalancer
      spec:
        loadBalancerClass: tailscale

ports:
  web:
    # CHANGE FROM 8000 TO 80
    port: 8000
    expose:
      default: true
      tailscale: true
    exposedPort: 80

gateway:
  enabled: false
gatewayClass:
  enabled: true
ingressClass:
  enabled: false

# Enable GatewayAPI component
providers:
  kubernetesGateway:
    enabled: true
  kubernetesIngress:
    enabled: false
  kubernetesCRD:
    enabled: true # Keep using IngressRoute for the dashboard

updateStrategy:
  type: RollingUpdate
  rollingUpdate:
    maxUnavailable: 1
    maxSurge: 1
