---
- name: Install WireGuard
  apt:
    name: wireguard
    state: present

- name: Enable IPv4 forwarding
  sysctl:
    name: net.ipv4.ip_forward
    value: "1"
    state: present
    reload: yes

- name: Configure WireGuard Interface (wg0)
  template:
    src: wg0.conf.j2
    dest: /etc/wireguard/wg0.conf
    mode: "0600"
  notify: Restart WireGuard

- name: Ensure WireGuard is running
  service:
    name: wg-quick@wg0
    state: started
    enabled: yes
