[Interface]
Address = 10.10.0.1/24
SaveConfig = false 
ListenPort = 51820
PrivateKey = {{ vpn_private_key['content'] | b64decode | trim }}

# Masquerade traffic (NAT) so the VM acts as a router
PostUp = iptables -A FORWARD -i wg0 -j ACCEPT; iptables -t nat -A POSTROUTING -o eth0 -j MASQUERADE
PostDown = iptables -D FORWARD -i wg0 -j ACCEPT; iptables -t nat -D POSTROUTING -o eth0 -j MASQUERADE

# Client 1: Home Server
[Peer]
PublicKey = {{ home_server_public_key }}
AllowedIPs = 10.10.0.2/32

# Client 2: Laptop
[Peer]
PublicKey = {{ laptop_public_key }}
AllowedIPs = 10.10.0.3/32
